@model List<eKabita.ViewModels.HomeViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h2>All Poems</h2>
        <hr />
        @foreach(var item in Model){
            <div class="card mb-3">
                <div class="card-header text-black">
                    @item.ApplicationUser.FullName &nbsp;&nbsp;@item.CreatedDate
                </div>
                <div class="card-body">
                    <h5>@item.Title</h5>
                    <p>
                        @item.Description
                    </p>
                </div>
                <div class="card-footer">
                    @if (item.IsLiked)
                    {
                        <form method="post" asp-action="UnLike" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-primary">UnLike</button>
                        </form>

                    }
                    else
                    {
                        <form method="post" asp-action="Like" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-secondary">Like</button>
                        </form>
                    }
                </div>
            </div>
        }

    </div>
    <div class="col-3"></div>
</div>

